.nav-container {
    background-color: #000;
    opacity: 0.6;
    color: #fff;
    padding: .9em;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.4rem;
    margin: auto 0;
}

.nav {
    margin-left: 100px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
    margin-right: 70px;
    font-variant-caps: all-small-caps;
    padding-bottom: 2px;
    letter-spacing: 1px;
    color: #f2f2f2;
  }
  
  .nav a:hover,
  .nav a:focus {
    border-bottom: solid 2px;
  }

  .nav .active {
    cursor: default;
    color: #ff1493;
  }

  .on-contract {
    margin-left: auto;
    margin-right: 20px;
    background-color: green;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }