/* @import “~@angular/material/prebuilt-themes/pink-blue Grey.css”; */

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url('../src/assets/img/flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.black-container {
    width: 900px;
    height: 200px;
    margin: auto;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    margin-top: 2em;
}



.form-container {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


button {
    color: #ffffff;
    background-color: #ff1493;
    border-color: #130269;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: .8em 1.8em;
    font-size: 1.3 rem;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .8em 1.8em;
  }

.balance {
    color: gainsboro;
}

.account {
    display: block;  
    font-size: 1.2rem;
}

.withdraw-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowPNG {
    width: 35px;
    height: 35px;
}

.withdraw {
    margin-top: 1.6em;
    background-color: transparent;
    border-color: #ff1493;
    font-size: 1 rem;
}

.account > .accent {
    display: block;
    color: #ff1493;
    margin-bottom: 1.4em;
    font-size: 1.3rem;
}

.accent {
    color: #ff1493;
}